templates/n8n/insight-workflow.json
{
  "name": "Weather Insights Echo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather-insights"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { narrative: 'Example narrative', highlights: ['Sunny today','Breezy afternoon'], hazards: { rain: 1, storm: 1, wind: 2, heat: 1, cold: 1, airQuality: 2 }, bestWindows: [{ start: '2025-05-01T09:00:00Z', end: '2025-05-01T12:00:00Z', reason: 'Clear, mild wind' }], activityRatings: { running: 4, cycling: 3, hiking: 4, beach: 5 }, tips: ['Wear sunscreen','Hydrate well'] } }];"
      },
      "id": "function",
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [580, 300]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Function", "type": "main", "index": 0 }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
